/* height and width */

.h-screen {
    height:  100vh;
}

.h-50 {
    height: 50%;
}

.h-80-p {
    height: 80vh;
}

.w-screen {
    width: 100vw;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.w-400 {
    width: 400px;
}

.w-800 {
    width: 800px;
}

/* Responsive width classes */
@media (max-width: 768px) {
    .w-800, .w-400 {
        width: 100% !important;
        max-width: 95vw;
    }

    .flex {
        flex-direction: column;
    }

    .ant-picker {
        margin-top: 10px;
    }

    .home-tile {
        margin-top: 15px !important;
    }

    .home > .gap-1 {
        gap: 5px !important;
    }

    .report-filters > .ant-space {
        flex-direction: column;
        margin-top: 10px;
    }

    .ant-row {
        flex-direction: column;
    }

    .ant-col {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .h-screen > .sm-w-100 {
        width: 85%;
    }

    .register-mobile-container .primary-outlined-btn {
        width: 48% !important;
    }

    .register-mobile-container .mobile-buttons {
        flex-direction: row;
    }
}

/* flex */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.items-baseline {
    align-items: baseline;
}

.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 20px;
}

.gap-3 {
    gap: 30px;
}

/* Responsive flex classes */
@media (max-width: 768px) {
    .sm-flex-col {
        flex-direction: column;
    }
    
    .sm-items-center {
        align-items: center;
    }
    
    .sm-justify-center {
        justify-content: center;
    }
    
    .sm-w-100 {
        width: 100%;
    }
    
    .sm-text-center {
        text-align: center;
    }
}

/* margins and paddings */

.m-1 {
    margin: 10px;
}

.m-2 {
    margin: 20px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-7 {
    margin-top: 70px;
}

.mb-2 {
    margin-bottom: 20px !important;
}

.mb-3 {
    margin-bottom: 30px !important;
}

.mb-4 {
    margin-bottom: 40px !important;
}

.mb-7 {
    margin-bottom: 70px !important;
}

.ml-20-p {
    margin-left: 20%;
}

.mr-1 {
    margin-right: 10px;
}

.m-3 {
    margin: 30px;
}

.m-4 {
    margin: 40px;
}

.m-5 {
    margin: 50px;
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.p-3 {
    padding: 30px;
}

/* Responsive margins and paddings */
@media (max-width: 768px) {
    .sm-m-1 {
        margin: 10px;
    }
    
    .sm-p-1 {
        padding: 10px;
    }
    
    .sm-mt-2 {
        margin-top: 20px;
    }
    
    .ml-20-p {
        margin-left: 0;
    }
}

/* border and border radius */

.br-3 {
    border-radius: 3px;
}
