:root {
    --primary: #1C1678;
    --secondary: #ff6200;
    --red: #d3391b;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-white {
    color: #fff !important;
}

.success-bg {
    background-color: #107010 !important;
    color: white !important;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.error-bg {
    background-color: var(--red) !important;
    color: white !important;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.red {
    background-color: var(--red) !important;
    color: white !important;
}